@font-face {
  font-family: 'UnifrakturCook';
  font-style: normal;
  font-weight: normal;
  src: local('UnifrakturCook'), local('UnifrakturCook-Bold'), url(ASwh69ykD8iaoYijVEU6Rm_7m0YPLwupdydlBc09ccE.woff) format('woff');
}
